**/Assets/ExampleAssets/
**/Build/
**/WebGL Builds/
**/Assets/64 flat icons
**/Assets/PolygonMilitary/
**/Assets/PolygonApocalypse/
**/Assets/Dark Future/
**/Assets/StarterAssets/
**/Assets/TextMesh Pro/
**/Assets/TutorialInfo/
**/Library/
**/Logs/
**/UserSettings/
**/obj/
**/Temp/
Assembly-CSharp-Editor.csproj
.vsconfig
Assembly-CSharp.csproj
Assembly-CSharp.Player.csproj
My project.sln
*.suo
*.meta
*.preset
*.ogg
*.mp3
*.pfx
webgl_sharing
ProjectSettings/Packages/com.unity.connect.share/Settings.json
connectwebgl.zip
